.mb-input-type-progressBar.red-progress-bar .mb-progress-bar-progress {
  background: var(--color-red);
}

/* Buttons Decorations */
.light-mode-btn .mb-button-inner {
  background: rgb(211, 219, 227);
}
.light-mode-btn .mb-button-inner:hover {
  background: rgb(201, 209, 217);
}

.dark-mode-btn .mb-button-inner {
  background: rgb(63, 63, 63);
}
.dark-mode-btn .mb-button-inner:hover {
  background: rgb(85, 85, 85);
}

/* List Decorations */
.mb-card:has(.mb-input-type-list.info) {
  background: rgb(2, 122, 255, 0.1);
}

.mb-card:has(.mb-input-type-list.info) > h3 {
  color: rgb(2, 122, 255);
}

.mb-card:has(.mb-input-type-list.success) { 
  background: rgb(126, 231, 135, 0.1);
}

.mb-card:has(.mb-input-type-list.success) > h3 {
  color: rgb(126, 231, 135);
}

.mb-card:has(.mb-input-type-list.error) {
  background: rgb(248, 81, 73, 0.1);
}

.mb-card:has(.mb-input-type-list.error) > h3 {
  color: rgb(248, 81, 73);
}

